body {
	display: flex;

}

.conteiner {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	grid-template-columns: 1fr 1fr 1fr;
	width: 33%;
	max-width:1200px;
	height: 400px;
	background-color: #eee;
	border: 1px solid;
	border-radius: 3px;
}



.palito {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	background-color: black;
	height: 200px;
	width: 10px;
	border-radius: 10px;
}

.disco1 {
	border: 1px solid;
	border-radius: 10px;
	height: 20px;
	margin: 1px;
	width: 90px;
	background-color: chartreuse;
}

.disco2 {
	border: 1px solid;
	border-radius: 10px;
	height: 20px;
	margin: 1px;
	width: 110px;
	background-color: brown;
}

.disco3{
	border: 1px solid;
	border-radius: 10px;
	height: 20px;
	margin: 1px;
	width: 130px;
	background-color: blueviolet;
}

.disco4{
	border: 1px solid;
	border-radius: 10px;
	height: 20px;
	background-color: blue;
	width: 150px;
}

@media screen and (max-width: 768px) {
body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

	.conteiner {
		max-height: 200px;
	}

	#conteiner1 {
		margin-top: 20%;
	}

	#conteiner3 {
		margin-bottom: 20%;
	}

	.palito {
		max-height: 120px;
	}


}